input{
	border: 1px solid #000;
}
input:invalid{
	border: 1px solid red;
}
input:valid{
	border: 1px solid green;
}

body{
	overflow: hidden-y;
}
.wait .wait-row .wait-column{
	align-items: start;
}
.wait .wait-row .wait-column .wait-text{
	justify-content: center;
	flex: 0 0 0;
	text-align: center;
	align-items: start;
	min-height: 326px;
}
.wait .wait-row .wait-column .wait-text .text-2{
	min-height: 150px;
	align-self: center;
	font-size: 16px;
}

.wait .wait-row .wait-column .wait-text .text-1{
	width: 100%;
	line-height: 22px;
	font-size: 20px;
}
.wait .wait-row .wait-column .wait-text--first{
	padding-top: 30px;
}
.wait .wait-row .wait-column .wait-img img{
	height: 316px;
}
.bg-white .question .quest-number{
	position: relative;
	z-index: 1;
}
.bg-white .question .quest-number:after{
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 73%;
	margin: 0 auto;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: #ccc;
}
.popup__form .wide{
	border-radius: 10px;
}
.work .work-title{
	font-size: 42px;
}

.thanks{
	display:none;
	position:absolute;
	background:rgba(0,0,0,.8);
	width:100%;
	height:100%;
	z-index:99;
	margin:0 auto;
	top:5%;
	left:0;
	right:0;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;}
.thanks_wrapper{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	padding:30px 0;
}
.thanks_title{
	font-size:44px;
	color:#fff;
	margin-bottom:20px;
	text-align:center;
	text-transform: uppercase;
}
.thanks_text{
	font-size:20px;
	color:#fff;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	text-align:center;
}
.thanks_btn{
	border:1px solid #fff;
	border-radius:30px;
	width:300px;
	height:50px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	font-size:12px;
	font-family:Montserrat-Bold;
	color:#fff;
	margin-top:20px;
}
.thanks_btn:hover{
	color:#fff
}
.head-content .text-1{
	font-weight: 300;
}
.popup__form-text {
	margin-top: 34px;
}
.popup__form-required {
	padding-bottom: 0;
}
.partner img {
	max-width: 100%;
	width: 100%;
}
.partner_img {
	display: flex;
	align-items: center;
}
@media (max-width:768px) {
	.menu-item-img{
		display: none;
	}
	.bg-white .question .quest-number:after{
		display: none;
	}
	.header .header-menu .header-hide .header-nav{
		opacity: 1;
		z-index: 99;
		position: relative;
	}
	.fancybox-close-small, .fancybox-button{
		left: 15px!important;
	}
	.button{
		position: relative;
		z-index: 1;
	}
	.wait-img{
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
@media (max-width:500px) {
	.head-content .head-title{
		font-size: 47px;
	}
	.form-content{
		bottom: -156px;
	}
	.head-content{
		padding-bottom: 65px;
	}
	.work{
		text-align: center;
	}
	.about button{
		margin: 0 auto;	
	}
	.wait-column:nth-child(1){
		order: -5;
	}
	.wait-column:nth-child(2){
		order: -6;
	}
	.wait-column:nth-child(3){
		order: -3;
	}
	.wait-column:nth-child(4){
		order: -4;
	}
	.wait-column:nth-child(5){
		order: -8;
	}
	.wait-column:nth-child(6){
		order: -7;
	}
	.wait-column:nth-child(7){

	}
	.wait-column:nth-child(8){

	}
	.wait .wait-row .wait-column .wait-img{
		width: 100%;
	}
	.head-content .text-1{
		font-weight: 500;
	}
	.fancybox-button{
		top: 7px!important;
	}
	.popup__form {
		padding: 0;
	}
	.popup__title{
		font-size: 23px;
	}
}